.top-contents
  .top-contents__main
    %h6
      最近の口コミ
    = link_to "", class: 'mypage__main--note__right' do
      %span
        もっと見る
      %i.fas.fa-chevron-right
  %ul
    -# -# - @ladies.each do |ladies|
    -#   %li
    -#     .top-contents__items
    -#       .top-contents__items__item
    -#         = link_to item_path(ladies) do
    -#           %figure
    -#             %span.top-contents__items__item__price{"aria-label" => "Price"}
    -#               ¥
    -#               #text
    -#                 = ladies.price.to_s(:delimited)
    -#             .top-contents__items__item__image
    -#               = image_tag ("#{ladies.image}"), alt: ""
    -#               - if ladies.buyer_id
    -#                 .top-soldout
    -#                 .top-soldout__text
    -#                   SOLD
    -#             %figcaption
    -#               %span
    -#                 = ladies.product_name