%div.slick
  %div.slide_img.slide_img_image1
    %div.image_text 
      今日はどこで食事をしようか？
  %div.slide_img.slide_img_image2
    %div.image_text 
      行きたいお店のリアルな評価は？
  %div.slide_img.slide_img_image3
    %div.image_text 
      口コミだけで行きたい場所が選べる！