.box
  %h2.box__title
    話題のカテゴリー
  .box__text
    %ul.box__text__items
      %li.box__text__items__item
        =link_to "#ladies", class: "box__text__items__item__category" do
          チーズ焼き鳥
      %li.box__text__items__item
        =link_to "#mens", class: "box__text__items__item__category" do
          激辛ラーメン
      %li.box__text__items__item
        =link_to "#homeAppliance", class: "box__text__items__item__category" do
          クリーム鍋
      %li.box__text__items__item
        =link_to "#hoby", class: "box__text__items__item__category" do
          もつ鍋

-# .box
-#   %h2.box__title
-#     人気のブランド
-#   .box__text
-#     %ul.box__text__items
-#       %li.box__text__items__item
-#         =link_to "", class: "box__text__items__item__category" do
-#           シャネル
-#       %li.box__text__items__item
-#         =link_to "", class: "box__text__items__item__category" do
-#           ルイヴィトン
-#       %li.box__text__items__item
-#         =link_to "", class: "box__text__items__item__category" do
-#           シュプリーム
-#       %li.box__text__items__item
-#         =link_to "", class: "box__text__items__item__category" do
-#           ナイキ
