/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

// スライダー追加CSS
.slick{
    .slide_img{
        width: 100%;
        height: 390px;
        background-size: contain;
        background-position:center center;
    }
    .slide_img_camp{
        background-image: image-url("top-banner-camp.jpg");
    }
    .slide_img_info{
        background-image: image-url("top-banner-info.jpg");
        &__box{
            position: relative;
            width: 860px;
            margin: 0 auto;
            padding: 20px 40px;
            &__rightimg{
                position: absolute;
                top: 0px;
                right: 0px;
            }
            &__title{
                font-size: 60px;
                font-weight: 600;
                margin-bottom: 20px;
                line-height: 1.4;
            }
            &__sub{
                font-size: 18px;
            }
            &__imgs{
                display: flex;
            }
            &__img{
                margin: 10px 10px 0 0;
            }
        }
    }
}